<!-- template.ejs -->

<!DOCTYPE html>

<html>
  <head>
    <title>Factura de Pedido</title>
  </head>
  <body>
    <center>
    <h1>FACTURA</h1><br>
    <table width="50%" border="0px">
      <tr>
        <td>
          
        </td>
        <td>
          No. <%=("000000"+(Math.random()*10000 +1).toString().split('.')[0]).slice(-6)%><br>
          Fecha: <%= orden.hora_pedido.split(" ")[0]%><br>
          Nombre: <%= nombre+" "+apellido%> <br>
          CI: <%= ci%><br>
          Hora de pedido: <%= orden.hora_pedido.split(" ")[1]%>
          
        </td>
      </tr>
    </table>
    <h1>Detalle de Pedido</h1>
    <table style="width: 50%" border="1px">
      <tr>
        <th>Menu.</th>
        <th>Precio Unitario.</th>
        <th>Cantidad.</th>
        <th>Precio Total.</th>
      </tr>
      <% if (orden.pedidos.length) { %>
        <% orden.pedidos.forEach(function (menu) { %>
        <tr>
        <td id="nombre"><%= menu.menu.nombre %></td>
        <td id="precio_unitario"><%= menu.menu.precio %></td>
        <td id="cantidad"><%= menu.cantidad %></td>
        <td id="precio_total"><%= (menu.menu.precio*menu.cantidad) %></td>
        </tr>
        <% }) %>
      <% } %>
    </table>
    <h2><%="TOTAL: " +orden.pago_total %></h2>
  </center>
  </body>
</html>